/.project
/.classpath
/.settings

/bin
/build
/dist
/nb-build.xml
/nbproject

/image.png
/output

XML/*.obj
XML/*.obj.gz
XML/*.bmf
XML/tmp.sdl

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.toc
