/.project
/.classpath
/.settings
/nbproject

/bin
/build
/dist

/image.png
/output

XML/*.obj
XML/*.obj.gz
XML/tmp.sdl

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.toc
